<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2013-03-18-bootstrap.md</string>
		</array>
		<array>
			<string>2013-03-20-frontend-tandard.md</string>
		</array>
		<array>
			<string>2013-04-10-how-to-install-sublime-text-2.md</string>
		</array>
		<array>
			<string>2013-05-20-getting-start-nodejs.md</string>
		</array>
		<array>
			<string>2013-05-29-how-to-use-node-middleware-nodemailer.md</string>
		</array>
		<array>
			<string>2013-06-10-get-job-at-gionee.md</string>
		</array>
		<array>
			<string>2013-06-13-quick-start-lookitui.md</string>
		</array>
		<array>
			<string>2013-07-07-owner-one-skill-in-it-industy.md</string>
		</array>
		<array>
			<string>2013-07-12-ubuntu-install-node-js.md</string>
		</array>
		<array>
			<string>2013-07-17-javascript-question-collection.md</string>
		</array>
		<array>
			<string>2013-08-02-sublime-text-open-dump-bug.md</string>
		</array>
		<array>
			<string>2013-08-10-ubuntu-install-sublime-text-2.md</string>
		</array>
		<array>
			<string>2013-09-06-media-your-device-by-javascript.md</string>
		</array>
		<array>
			<string>2013-09-07-feeling-in-your-heart.md</string>
		</array>
		<array>
			<string>2013-09-15-snake-year-in-my-life.md</string>
		</array>
		<array>
			<string>2013-09-17-ubuntu-heroku-build-node-app.md</string>
		</array>
		<array>
			<string>2013-09-18-ubuntu-vim-install-markdown-plugin.md</string>
		</array>
		<array>
			<string>2013-10-07-happy-national-day.md</string>
		</array>
		<array>
			<string>2013-10-07-work-in-gionee-for-one-year.md</string>
		</array>
		<array>
			<string>2013-10-14-summary-of-mobile-frontend-development.md</string>
		</array>
		<array>
			<string>2013-10-17-web-rebuild-party.md</string>
		</array>
		<array>
			<string>2013-10-23-thinking-about-frontend-future.md</string>
		</array>
		<array>
			<string>2013-11-20-html5-and-css3-for-mobile-development.md</string>
		</array>
		<array>
			<string>2013-12-28-2013-year.md</string>
		</array>
		<array>
			<string>2014-01-18-third-product-center-annual-party.md</string>
		</array>
		<array>
			<string>2014-01-22-wordpress-blog-to-github-pages.md</string>
		</array>
		<array>
			<string>2014-01-26-gionee-group-annual-party.md</string>
		</array>
		<array>
			<string>2014-02-19-jekyll-use-google-code-prettify.md</string>
		</array>
		<array>
			<string>2014-03-01-publish-code-to-online.md</string>
		</array>
		<array>
			<string>2014-05-30-new-power-new-life.md</string>
		</array>
		<array>
			<string>2014-07-20-the-7-habits-of-outstanding-manager.md</string>
		</array>
		<array>
			<string>2015-01-10-2014-year.md</string>
		</array>
		<array>
			<string>2015-02-27-how-to-improve-the-efficiency-of-fe-develop.md</string>
		</array>
		<array>
			<string>2015-02-27-quick-start-guide-of-shell-command.md</string>
		</array>
		<array>
			<string>2015-03-03-happy-day-for-free-heart.md</string>
		</array>
		<array>
			<string>2015-03-09-mac-os-x-install-php-extension.md</string>
		</array>
		<array>
			<string>2015-05-03-mobile-brower-web-page-meta.md</string>
		</array>
		<array>
			<string>2015-08-25-how-to-realize-the-two-numbers-together.md</string>
		</array>
		<array>
			<string>2015-09-09-some-of-the-recent-summary.md</string>
		</array>
		<array>
			<string>2015-09-15-today-is-my-birthday.md</string>
		</array>
		<array>
			<string>2015-09-16-an-interview-questions-of-javascript.md</string>
		</array>
		<array>
			<string>2015-12-14-java-and-javascript-calls-each-other.md</string>
		</array>
		<array>
			<string>2016-01-20-window-onscroll-nothing-to-run.md</string>
		</array>
		<array>
			<string>2016-03-08-node-error-listen-eaddrinuse.md</string>
		</array>
		<array>
			<string>2016-08-20-install-jekyll-on-centos7.md</string>
		</array>
		<array>
			<string>2016-09-12-how-to-implement-the-HTML-tags-to-escape-and-escape.md</string>
		</array>
		<array>
			<string>2016-09-13-common-git-opreation-question.md</string>
		</array>
		<array>
			<string>2016-10-11-how-to-use-gitignore.md</string>
		</array>
		<array>
			<string>2016-10-15-happy-birthday-to-27.md</string>
		</array>
		<array>
			<string>2016-10-23-about-something-of-in-the-yonyou-industrial-park.md</string>
		</array>
		<array>
			<string>2017-03-24-antd-local-hosted-iconfont.md</string>
		</array>
	</array>
</dict>
</plist>
